@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-marker {
  background: transparent;
  border: none;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 0;
}
